.column{float:left; width:48%; display:inline;}
.auto{width:auto;}
.fade{opacity:0.4; filter:alpha(opacity=40);}
.left{margin:5px 20px 5px 0; float:left;}
.right{margin:5px 0 5px 20px; float:right;}
.placeholder{display:block; height:250px;}
.noborder{border:0 none !important;}
.ir{border:0; font:0/0 a; text-shadow:none; color:transparent; background-color:transparent;}
	.ir br{display:none;}
.ib{zoom:1; *display:inline;}
.hidden{display:none; visibility:hidden;}
.visuallyhidden{border:0; clip:rect(0 0 0 0); height:1px; margin:-1px; overflow:hidden; padding:0; position:absolute; width:1px;}
	.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus{clip:auto; height:auto; margin:0; overflow:visible; position:static; width:auto;}
.invisible{visibility:hidden;}
.clearfix:before,.clearfix:after{content:""; display:table;}
	.clearfix:after{clear:both;}
	.clearfix{*zoom:1;}
.clear{clear:both;}
