.calendar{padding:0; margin:0; text-align:center; line-height:50px; width:100%; border-spacing:1px;}
	.calendar caption{background:#000; color:#fff; font-size:20px; text-align:center; margin:0 1px;}
		.calendar caption a{color:#fff;}
	.calendar th{color:#000; background:#666; text-align:center;}
	.calendar td{text-align:center; background:#999;}
		.calendar .empty{background:#ccc;}
		.calendar td a{color:#000; background:#900; height:100%; width:100%; display:block;}
		.calendar td a:hover{color:#fff; background:#009;}
